.contentContainer {
    padding-top: 1em;
}

.contentTitle {
    text-align: center;
}

.contentList {
    font-size: 1.5em;
}

.contentDescription {
    text-align: center;
    font-size: 1.25em;
}

body {
    background-color: antiquewhite;
}
